
  <div class="container-top">
    <div class="child one"><img src="images/subway1.png"/><div class="title">the subway collection</div></div>
    <div class="child two"><img src="images/beach.png"/><div class="title">the summer collection</div></div>
    <div class="child three"><img src="images/sushi.png"/><div class="title">the sushi collection</div></div>
  </div> 


  <div class="container-top">
    <div class="child nap"><img src="images/nap.png"/><div class="title">the nap collection</div></div>
    <div class="child two"><img src="images/helmet.png"/><div class="title">the summer collection</div></div>
  </div> 

<div class="container-quote"><div class='quote'>I first discovered this site when my boyfriend bought me 'The Sushi Collection' for my birthday present. I have been hooked ever since and my quality of life has improved tenfold! I love the shitty quality of these pictures. They were especially useful for my daughter's Power Point presentation. She received an A+ on the project! To the man in these photos.. thank you!!</div></div>
