<!--   <div class="container-top">
    <div class="child nap"><img src="images/nap.png"/></div>
  </div>  -->

  <div class="bgSizeCover">
  <p class="title move-down">Shitty Stock Photos</p>
  <p class="subtitle move-up">Photos you can afford</p>
</div>

<!--   <div class="container-top">
    <div class="child one"><img src="images/subway1.png"/></div>
    <div class="child one"><img src="images/beach.png"/></div>
    <div class="child one"><img src="images/sushi.png"/></div>
  </div>
  <div class="container-top">
    <div class="child one"><img src="images/subway1.png"/></div>
    <div class="child one"><img src="images/beach.png"/></div>
    <div class="child one"><img src="images/sushi.png"/></div>
  </div>
 -->


  <div class="container">


    <div class="grid one">
      <figure class="effect-milo">
        <img src="images/subway1.png" alt="img12"/>
        <figcaption>
          <h2>NYC <span>Subway</span></h2>
          <p>The 7 is down this weekend again.</p>
          <a href="#">View more</a>
        </figcaption>    
      </figure>
    </div>


    <div class="grid one">
      <figure class="effect-milo">
        <img src="images/beach.png" alt="img12"/>
        <figcaption>
          <h2>Beach <span>Bums</span></h2>
          <p>Dave sure could use a tan.</p>
          <a href="#">View more</a>
        </figcaption>    
      </figure>
    </div>

    <div class="grid one">
      <figure class="effect-milo">
        <img src="images/sushi.png" alt="img12"/>
        <figcaption>
          <h2>Sushi <span>Dinner</span></h2>
          <p>Dave relishes the fact that he lives in the culinary nexus of the world.</p>
          <a href="#">View more</a>
        </figcaption>    
      </figure>
    </div>

    <div class="grid one">
      <figure class="effect-milo">
        <img src="images/gun.png" alt="img12"/>
        <figcaption>
          <h2>Shot <span>Gun</span></h2>
          <p>Dave has the aim of a falcon.</p>
          <a href="#">View more</a>
        </figcaption>    
      </figure>
    </div>
    <div class="grid one">
      <figure class="effect-milo">
        <img src="images/hat.png" alt="img12"/>
        <figcaption>
          <h2>Contruction <span>Time</span></h2>
          <p>It's time to check up on the work of these idiots.</p>
          <a href="#">View more</a>
        </figcaption>    
      </figure>
    </div>
    <div class="grid one">
      <figure class="effect-milo">
        <img src="images/soup.png" alt="img12"/>
        <figcaption>
          <h2>Hot <span>Pot</span></h2>
          <p>Dave hates boiled vegetables but everything else was okay.</p>
          <a href="#">View more</a>
        </figcaption>    
      </figure>
    </div>
        <div class="grid one">
      <figure class="effect-milo">
        <img src="images/game.png" alt="img12"/>
        <figcaption>
          <h2>Charades <span>Game</span></h2>
          <p>I'm tired. This game is stupid.</p>
          <a href="#">View more</a>
        </figcaption>    
      </figure>
    </div>
        <div class="grid one">
      <figure class="effect-milo">
        <img src="images/train.png" alt="img12"/>
        <figcaption>
          <h2>Going <span>Home</span></h2>
          <p>Is the train coming soon? Oh there it is.</p>
          <a href="#">View more</a>
        </figcaption>    
      </figure>
    </div>
            <div class="grid one">
      <figure class="effect-milo">
        <img src="images/show.png" alt="img12"/>
        <figcaption>
          <h2>Happy <span>Hour</span></h2>
          <p>One day, Dave will be a superstar, too. Light, Camera, Action!</p>
          <a href="#">View more</a>
        </figcaption>    
      </figure>
    </div>
  </div>

<!--     <div class="grid">
      <figure class="effect-milo">
        <img src="images/sushi.png" alt="img12"/>
        <figcaption>
          <h2>Sushi <span>Dinner</span></h2>
          <p>Dave is very cultured and loves living in the melting pot that is New York City.</p>
          <a href="#">View more</a>
        </figcaption>    
      </figure>
    </div>
  </div> -->


<!-- <form action="" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_GkRIUzrxuUJ0VA2rEcT91b5H"
    data-amount="2000"
    data-name="Demo Site"
    data-description="2 widgets ($20.00)"
    data-image="/128x128.png">
  </script>
</form> -->
<!-- 

  <div class="container-top">
    <div class="child nap"><img src="images/nap.png"/><div class="title">the nap collection</div></div>
    <div class="child two"><img src="images/helmet.png"/><div class="title">the summer collection</div></div>
  </div> 

<div class="container-quote"><div class='quote'>I first discovered this site when my boyfriend bought me 'The Sushi Collection' for my birthday present. I have been hooked ever since and my quality of life has improved tenfold! I love the shitty quality of these pictures. They were especially useful for my daughter's Power Point presentation. She received an A+ on the project! To the man in these photos.. thank you!!</div></div>
 -->

 <script>
  $(window).scroll(function() {
    $('.test').each(setPullUp);
  });
function setPullUp5000 () {
  setPullUp(5000);
}
  function setPullUp(delayNum){
    var imagePos = $(this).offset().top;

    var topOfWindow = $(window).scrollTop();
      if (imagePos < topOfWindow+400) {
        $(this).delay(delayNum).addClass("pullUp");
      }
    }
</script>