
  <div class="bgSizeCover">
  <p class="title move-down">Shitty Stock Photos</p>
  <p class="subtitle move-up">Photos you can afford</p>
</div>


<div class="container" >
  <div ng-repeat="collection in collections">
    <div class="grid one">
      <figure class="effect-hover">
        <img src="{{collection.cover}}" alt="{{collection.title1}} {{collection.title2}}"/>
        <figcaption>
          <h2>{{collection.title1}}<span>{{collection.title2}}</span></h2>
          <p>{{collection.description}}</p>
        </figcaption>    
      </figure>
    </div>
  </div>
</div>


<form action="" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_GkRIUzrxuUJ0VA2rEcT91b5H"
    data-amount="2000"
    data-name="Demo Site"
    data-description="2 widgets ($20.00)"
    data-image="/128x128.png">
  </script>
</form>

 <script>
  $(window).scroll(function() {
    $('.test').each(setPullUp);
  });
function setPullUp5000 () {
  setPullUp(5000);
}
  function setPullUp(delayNum){
    var imagePos = $(this).offset().top;

    var topOfWindow = $(window).scrollTop();
      if (imagePos < topOfWindow+400) {
        $(this).delay(delayNum).addClass("pullUp");
      }
    }
</script>