

body {
  // padding: 50px;
  // font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
}

a {
  color: #00B7FF;
}

html {
   height: 100%;
}

.container-quote {
  display: flex;
  background-color: #e7e7e7;
  .quote {
    padding: 30px;
  }
}

.container-top {

   display: flex;
   height: auto;
   // background-color: black;
   flex-flow: row wrap;
   justify-content: space-around;
   .title {
    padding: 5px;
    font-size: 15px;
   }
}

.child{
   width: 200px;
   // height: 200px;
   margin: 10px;
   text-align: center;
   color: white;
   letter-spacing: 2px;
   img {
    width: 100%;
    height: auto;

   }
}

.one {
   background-color: #6476e7;
   flex-grow: 1;
}

.two {
   background-color: orange;
   flex-grow: 1;
}

.three {
   background-color: #e74646;
   flex-grow: 1;
}  

.nap {
   background-color: #6476e7;
   flex-grow: 3;
}
.navigation {
  list-style: none;
  // padding-top: 50px; 
  margin: 0;
  
  background: #f87960;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;

  // .logo {
  //   flex-grow: 2;
  // }

  .menu-item {
    flex-grow: 1;
  }
}

.navigation a {

  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

.navigation .logo {

  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
  font-size: 25px;
  font-family: 'Lobster', cursive;
}

.navigation li:hover {
  background: darken(#f87960, 5%);
}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .navigation {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }
  
  .navigation a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3); 
    border-bottom: 1px solid rgba(0,0,0,0.1); 
  }

  .navigation .logo { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3); 
    border-bottom: 1px solid rgba(0,0,0,0.1); 
  }

  
  .navigation li:last-of-type a {
    border-bottom: none;
  }
}