body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

a {
  color: #00B7FF; }

html {
  height: 100%; }

.container {
  display: flex;
  height: auto;
  background-color: black;
  flex-flow: row wrap;
  justify-content: space-around; }

.child {
  width: 200px;
  height: 150px;
  margin: 10px; }

.one {
  background-color: red;
  flex-grow: 1; }

.two {
  background-color: orange;
  flex-grow: 2; }

.three {
  background-color: blue;
  flex-grow: 1; }

.navigation {
  list-style: none;
  margin: 0;
  background: deepskyblue;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: flex-end; }

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white; }

.navigation a:hover {
  background: #00b8f5; }

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around; } }

@media all and (max-width: 600px) {
  .navigation {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0; }
  .navigation a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  .navigation li:last-of-type a {
    border-bottom: none; } }
